.navbar-light .navbar-nav .nav-link
{

  color: var(--secondary-color);
  animation: K4qPF 12s linear infinite;

}

.navbar-light .navbar-nav .nav-link.active-link
{

  color: var(--primary-color);

}
